__pycache__/
.idea/
*.py[cod]
*.so
*.o
*.a
*.swp
autohintexe
build
*.egg
*.egg-info
*.eggs
MANIFEST
build
dist
.DS_Store
.tox/
.pytest_cache/
.coverage*
htmlcov/
libpsautohint/src/version.h
pip-wheel-metadata/psautohint.dist-info

*.xcodeproj
.vscode/