dist: trusty
sudo: false

language: python

matrix:
  include:
    - python: 2.7
    - python: 3.6
    # The 'osx' environment uses the python2.7 by default.
    # TODO: maybe also tests python3 on macOS 
    - language: generic
      os: osx

script:
  - make check
  - make dist
  - unzip dist/psautohint-$(python setup.py -V).zip
  - make -C psautohint-$(python setup.py -V)
