dist: trusty
sudo: required
language: python
# The travis Python version is unrelated to the version we build and test
# with.  This is set with the MB_PYTHON_VERSION variable.
python: 3.5
services: docker

branches:
  only:
    - master
    # We want to build wip/* branches since these are not usually used for PRs
    - /^wip\/.*$/
    # We want to build version tags as well.
    - /^v\d+\.\d+.*$/

env:
  global:
    # directory containing the project source
    - REPO_DIR=.
    # pip dependencies to _build_ project
    # - BUILD_DEPENDS="..."
    # pip dependencies to _test_ project
    - TEST_DEPENDS="-rdev-requirements.txt"
    - PLAT=x86_64
    - UNICODE_WIDTH=32
    # the pypi password is stored in Travis settings
    - TWINE_USERNAME="adobe-type-tools-ci"

matrix:
  fast_finish: true
  exclude:
    # Exclude the default Python 3.5 build
    - python: 3.5
  include:
    - os: linux
      env:
        - MB_PYTHON_VERSION=2.7
    - os: linux
      env:
        - MB_PYTHON_VERSION=3.6
        - BUILD_SDIST=true
    - os: linux
      env:
        - MB_PYTHON_VERSION=3.7
    - os: osx
      language: generic
      env:
        - MB_PYTHON_VERSION=2.7
    - os: osx
      language: generic
      env:
        - MB_PYTHON_VERSION=3.6
    - os: osx
      language: generic
      env:
        - MB_PYTHON_VERSION=3.7

cache: pip

before_install:
  - source multibuild/common_utils.sh
  - source multibuild/travis_steps.sh
  - before_install

install:
  - build_wheel $REPO_DIR $PLAT

script:
  - install_run $PLAT

after_success:
  - pip install tox
  # upload code coverage to Codecov.io
  - tox -e codecov
  - |
    if [ -n "$TRAVIS_TAG" ] && [ "$TRAVIS_REPO_SLUG" == "adobe-type-tools/psautohint" ]; then
      pip install --upgrade twine
      twine upload wheelhouse/psautohint*.whl
      if [ "$BUILD_SDIST" == true ]; then
        tox -e sdist
        twine upload dist/psautohint*.zip
      fi
    fi
