 # pyparsing pinned to 2.4.0 to avoid UserWarnings introduced in 2.4.1
 # (which are actually from dependency, "packaging").
 # see https://github.com/tox-dev/tox/issues/1375
pyparsing==2.4.0 # pyup: ignore
tox==3.14.0
